/* =====================
 * === GLOBAL STYLES ===
 * ===================== */
body {
  margin: 0;
  overflow: hidden;
}

.hide {
  display: none !important;
}

/* width and height of game container are resized dynamically in index.js */
#phaser-example,
#input-overlay,
#game-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#phaser-example canvas {
  width: 100%;
  height: 100%;
}

#input-overlay {
  display: flex;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#input-overlay > div,
#input-overlay > form {
  width: 100%;
  position: relative;
  min-width: 500px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 40px 20px;
  box-sizing: border-box;
}

#game-overlay {
  pointer-events: none;
  z-index: 998;
  display: flex;
  justify-content: center;
}

/* ====================
 * === STORE SCREEN ===
 * ==================== */
#input-overlay > .store {
  max-height: 99vh;
  overflow-y: scroll;
}
#input-overlay > .store > h1 {
  font-size: 3.5rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #2e2e2e;
  margin: 5px 0;
  margin-bottom: 12px;
}
#input-overlay > .store > .store-item {
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}
#input-overlay > .store > .store-item > h2 {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}
#input-overlay > .store > .store-item > p {
  font-size: 1.6rem;
  font-family: sans-serif;
  font-weight: 600;
  color: #0e0e0e;
}
#input-overlay > .store > .store-item > button {
  font-size: 1.4rem;
  padding: 5px 28px;
  cursor: pointer;
  background-color: #497ea1;
  border: none;
  color: #fff;
  border-radius: 3px;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: 150ms ease;
  outline: none;
}
#input-overlay > .store > .store-item > button:hover {
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
  background-color: #528cb3;
}
#input-overlay > .store > .store-item > img {
  max-width: 80px;
  max-height: 80px;
}

/* ====================
 * === LOGIN SCREEN ===
 * ==================== */
#input-overlay > .login {
  font-family: sans-serif;
}
#input-overlay > .login > h1 {
  font-size: 3.5rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #022433;
  background: linear-gradient(30deg, #0a618c, #05576d);
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
}

#input-overlay > .login > input {
  margin-bottom: 40px;
  width: 90%;
  font-size: 2rem;
  background-color: rgba(2, 36, 51, 0.5);
  border: none;
  outline: none;
  color: #fff;
  box-sizing: border-box;
  padding: 5px 30px;
  border-radius: 3px;
}
#input-overlay > .login > input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#input-overlay > .login > button {
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  background-color: #6cbbef;
  background: linear-gradient(45deg, #6cbbef, #3fd7e3);
  padding: 6px 30px 4px 30px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 200ms ease;
}

#input-overlay > .login > #howTo {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  background-color: #6cbbef;
  background: linear-gradient(45deg, #6cbbef, #3fd7e3);
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease;
}

#input-overlay > .login > #howTo:hover {
  background: linear-gradient(180deg, #6cbbef, #3fd7e3);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.2);
  margin-top: -4px;
  margin-bottom: 4px;
}

#input-overlay > .login > button:hover {
  background: linear-gradient(180deg, #6cbbef, #3fd7e3);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.2);
  margin-top: -4px;
  margin-bottom: 4px;
}

#input-overlay > .login > #characters {
  box-sizing: border-box;
  height: 150px;
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#input-overlay > .login > #characters > .character {
  height: 140px;
  width: 140px;
  background: orange;
  margin: 5px;
  cursor: pointer;
}
#input-overlay > .login > #characters > .character:hover {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
  margin: 0px;
  width: calc(18% + 8px);
}
#input-overlay > .login > #characters > .selectedCharacter {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
  margin: 0px;
  width: calc(18% + 8px);
}

#input-overlay > .howTo {
  height: 90%;
  width: 90%;
  background: lightgrey;
  position: absolute;
  padding: 0 0 0 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: sans-serif;
}

#input-overlay > .howTo > #exit-button {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  background-color: #6cbbef;
  background: linear-gradient(45deg, #6cbbef, #3fd7e3);
  height: 30px;
  width: 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease;
}

#input-overlay > .howTo > #exit-button:hover {
  background: linear-gradient(180deg, #6cbbef, #3fd7e3);
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.2);
  margin-top: -4px;
  margin-bottom: 4px;
}

#input-overlay > .howTo > .descriptions {
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 5px solid grey;
  overflow: scroll;
}
#input-overlay > .howTo > .descriptions > .description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#input-overlay > .howTo > .descriptions > .description h3 {
  margin-right: 30px;
}
#input-overlay > .howTo > .contributors {
  box-sizing: border-box;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  overflow: scroll;
}

#input-overlay > .howTo > .descriptions > h1 {
  align-self: center;
}
#input-overlay > .howTo > .contributors > h1 {
  align-self: center;
}

#input-overlay > .howTo > .description {
  position: relative;
  left: 10px;
}

/* ===================
 * === LEADERBOARD ===
 * =================== */
#game-overlay > div.leaderboard {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 20px;
  right: 20px;
  color: white;
  text-align: center;
  font-family: Arial;
  overflow-y: scroll;
  padding: 0px 10px 5px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  pointer-events: all;
}

#game-overlay > div.leaderboard h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#game-overlay > div.leaderboard > .player {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
#game-overlay > div.leaderboard > .player > .text {
  overflow: hidden;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 5px;
  box-sizing: border-box;
}
#game-overlay > div.leaderboard > .player > .text > .name {
  font-size: 1rem;
  color: #fff;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

#game-overlay > div.leaderboard > .player > .text > .score {
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
  margin: 0;
}

#game-overlay > div.leaderboard > .player > .lives {
  max-width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 5px;
}

#game-overlay > div.leaderboard > .player > .lives > .life {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 2px;
}

/* ===============
 * === ITEMBAR ===
 * =============== */

#item-bar {
  /* opacity: 50%; */
  position: absolute;
  bottom: 10px;
  color: white;
  text-align: center;
  font-family: Arial;
  background-color: darkgrey;
  border-radius: 4px;
  z-index: 999;
  display: none;
}

.item {
  margin: 5px;
  width: 50px;
  height: 50px;
  border: 2px solid grey;
  border-radius: 4px;
}
.selected {
  border: 2px solid black;
}

.used {
  display: none;
  height: 18px;
  width: 18px;
  background-color: lightgrey;
  border-radius: 50%;
  color: black;
}
